.header,.footer{
	width: 100%;
	height: 38px;
	background-color: #666666;
	color: #cfcfcf;
	font-weight: 400;
	text-align: center;
	line-height: 38px;
}

.footer{
	background-color: #CFCFCF;
	color: #2C3E50;
}

.reg_content{
	background-color: #879634;
}
