<form class="form-horizontal">
	<div class="form-group" data-bind="if:isAdd">
		<label class="col-sm-4 control-label">学科:</label>
		<div class="col-sm-4">
			<select class="form-control" id="xueke" data-bind="options: data.subjects, value: subject_id, optionsText: '1', optionsValue: '0'"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">题目标记的遍数：</label>
		<div class="col-sm-4">
			<select data-bind="options:times,value:time" class="form-control">
			</select>
		</div>
	</div>
	<div>
		<div class="form-group">
			<label class="col-sm-4 control-label">选择进入题目验证环节的条件：</label>
			<div class="col-sm-8 form_option_text content_preview">
			<!-- ko if:!isOnly() -->
				<p><input value=1 checked name="config_choice" type="radio"><span>所有题目，都需要经过题目验证环节</span></p>
			<!-- /ko -->
			<!-- ko if:isOnly -->
				<p><input value=1 data-bind="checked:con" name="config_choice" type="radio"><span>所有题目，都需要经过题目验证环节</span></p>
			<!-- /ko -->
				<p data-bind="visible:isOnly"><input data-bind="checked:con" name="config_choice" value=2 type="radio"><span>
				多轮标记至少有一次不相同，则需要经过题目验证环节</span></p>
			</div>
		</div>
	</div>
</form>