<style>
.pad{
	padding: 20px;
}
</style>
<div class="panel panel-success">
	<div class="panel-heading clearfix pad">
		<div class="row">
			<div class="col-sm-1">
				<label class="control-label form-control-static text-right ">题目ID:</label>
			</div>
			<div class="col-sm-3">
				<input data-bind="value:ma_id" class="form-control" type="text">
			</div>
			<div class="col-sm-6">
				<button data-bind="click:search" class="btn btn-primary col-sm-offset-4">搜索</button>
			</div>
		</div>
	</div>
	
	<div class="panel-body">
		<div data-bind="if:isShow">
			<question-detail class="from_default" params="data:questionDetialParams"></question-detail>
		</div>
	</div>
	<div class="panel-footer text-center" data-bind="visible:button_visible">
		<button type="button" class="btn btn-primary" data-bind="click: submit,attr:{ disabled:button_disable}">
			<span>提交</span>
		</button>
	</div>
</div>
