<div class="panel panel-success">
	<div class="panel-heading clearfix">
		
		<div class="row mlr0 margin-top">
			<div class="col-sm-12" data-bind="foreach: data.subjects">
				<a href="javascript:void(0);" class="btn btn-default filterbtn pre mr_20" data-bind="css: {'btn-primary': $data[0]==$parent.subject_id()}, click: function(){$parent.previewUrl('');$parent.subject_id($data[0]);}">
					<span data-bind="text: $data[1]"></span>
				</a>
			</div>
		</div>
		<div class="row mt_20">
			<div class="col-sm-7">
				<button class="btn btn-primary ml_20" data-bind="click: getQuestions">获取题目</button>
				<span>说明：题目获取24小时内不处理将自动释放</span>
			</div>
			<div class="col-sm-5" style="margin-top:7px">
				<span class="glyphicon glyphicon-flag"></span>
				今天你已经标记了<b data-bind="text: today_mark"></b>道题目了
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div data-bind="if:isShow">
			<question-detail class="from_default" params="data:questionDetialParams"></question-detail>
		</div>
	</div>
	<div class="panel-footer text-center" data-bind="visible:button_visible">
		<button type="button" class="btn btn-primary" data-bind="click: submit,attr:{ disabled:button_disable}">
			<span>提交</span>
		</button>
	</div>
</div>
