<style>
	th{
		text-align: center;
	}
	.descript-info{
	    color:#1DD44F;
	}
	pre {
	    background-color: #fff;
	    border: 0px;
	    border-radius: 0px;
	    white-space: pre-line;
	}
</style>
<div class="btn-toolbar" role="toolbar" aria-label="..." data-bind="foreach:task_name_cn">
    <div class="btn-group btn-group-sm " role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-bind="css:{'btn-primary':$parent.switch_button()==$index()},click:$parent.change_button.bind($data,$index())">
            <span data-bind="text:$data"></span>
        </button>
    </div>
</div>
<div class="panel panel-success margin-top">
	<div class="panel-heading clearfix">
		<div class="row mlr0">
			<label for="xueke" class="form-control-static pull-left">学科：</label>
			<div class="col-sm-2">
				<select class="form-control" id="xueke" data-bind="options: data.subjects, value: subject_id, optionsText: '1', optionsValue: '0'"></select>
			</div>
			<label for="name" class="form-control-static pull-left">姓名：</label>
			<div class="col-sm-3">
				<select class="form-control" id="name" data-bind="value: user_id"></select>
			</div>
			<div class="col-sm-2">
				<input type="text" class="form-control" readonly data-bind="datepicker: start_at, value: start_at, valueUpdate: 'keyup'" placeholder="开始时间">
			</div>
			<div class="col-sm-2">
				<input type="text" class="form-control" readonly data-bind="datepicker: end_at, value: end_at, valueUpdate: 'keyup'" placeholder="结束时间">
			</div>
			<button class="btn btn-primary" data-bind="click: getData.bind($data, 1)">搜索</button>
			<button class="btn btn-primary" data-bind="click:downloadData">下载数据</button>
		</div>
	</div>
	<div class="panel-body">

		<div class="paginationContainer" data-bind="if:isShow"><!-- 分页显示区域 --></div>

		<table class="table table-bordered" width="100%">
			<thead>
				<tr>
				<!-- ko if:switch_button() === 0-->
					<th>姓名</th>
					<th>标记正确</th>
					<th>标记错误</th>
					<th>未验证</th>
				<!-- /ko -->
				<!-- ko if:switch_button() === 1-->
					<th width="300px"></th>
					<th width="200px">处理的总任务数</th>
				<!-- /ko -->
				</tr>
			</thead>
			<!-- ko if: dataList().length>0 -->
			<tbody data-bind="foreach: dataList">
				<tr>
					<!-- ko if:$parent.switch_button() === 0-->
                    <td data-bind="text:user_name">

						<!-- <a data-bind="text: user_name, attr: {href: '/multi_answers#/statistic_user/'+uid+'/'+user_name}"></a> -->
					</td>
					<!-- <td data-bind="text: mark_rights"></td>
					<td data-bind="text: mark_wrongs"></td>
					<td data-bind="text: unchecks"></td> -->
					<td data-bind=""></td>
					<td data-bind=""></td>
					<td data-bind=""></td>
					<!-- /ko -->
					<!-- ko if:$parent.switch_button() === 1-->
					<td data-bind="text:user_name"></td>
					<td data-bind="text:checks"></td>
					<!-- /ko -->
				</tr>
			</tbody>
			<!-- /ko -->
			<!-- ko if: dataList().length==0 -->
			<tbody>
				<tr>
					<td colspan="10" align="center">暂无数据</td>
				</tr>
			</tbody>
			<!-- /ko -->
		</table>
		<div class="paginationContainer" data-bind="if:isShow"><!-- 分页显示区域 --></div>
		<div>
       
		<!-- <div data-bind="template:templates"></div> -->
    </div>
	</div>
</div>
